import(rJava)
export(router, route, gh.profile, gh.translation)
S3method(route, matrix)
S3method(route, default)

S3method(print, GHRoutes)
S3method(`[[`, GHRoutes)
S3method(`[`, GHRoutes)
S3method(`[[<-`, GHRoutes)
S3method(`[<-`, GHRoutes)
S3method(length, GHRoutes)
S3method(is.na, GHRoutes)

S3method(ll, GHPath)
S3method(as.matrix, GHPath)
S3method(print, GHPath)
S3method(length, GHPath)
S3method(`[`, GHPath)
S3method(`[<-`, GHPath)
